/*reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

em, h1, h2, h3, h4, h5, h6, i {
    font-style: normal;
}
