body {
	margin: 0;
	padding: 0;
}

.bottom-nav {
	bottom: 0;
    position: fixed;
    width: 100%;
}

.nav-tab {
	position: fixed;
    top: 64px;
    width: 100%;
    // height: 100%;
    overflow: scroll;
}