body
{
    margin: 0;
    padding: 0;
}

nav
{
    background: #ccc;
    height: 3.4rem;
}

#banner
{
    background: #777;
    height: 70rem;
}

nav ul
{
    margin: 0;
    list-style: none;
    float: right;
}

nav ul li, nav .logo
{   
    display: inline-block;
    line-height: 3.4rem;
    margin-right: 2rem;
}
nav .logo
{   
    margin-left: 2rem;
}

nav .logo a 
{
    text-decoration: none;
}

nav ul li a 
{
    text-decoration: none;
    display: inline-block;
    line-height: 3.4rem;
    height: inherit;
    color: #fff; 
}

#banner .inner
{
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 10rem;
}

#banner .inner h1
{
    margin: 0;
}

button 
{
    border: none;
    background: #333;
    color: #eee;
    padding: 1rem;
}

#banner button
{
    padding: 1rem 3rem;
}

#banner .inner .more 
{
    margin-top: 14rem;
}

#banner .sub-heading 
{
    line-height: 2rem;
    margin: 2rem;
}

.logo 
{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo a
{
    color: #fff; 
}